<!DOCTYPE html>

<html lang="pl">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ranking piłkarski</title>
  <meta name="description" content="Ranking piłkarski">
  <meta name="keywords" content="ranking, piłka nożna">
  <meta name="author" content="Karol Jaros">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

</head>
<body>
Skontaktuj sie z nami za pomocą medytacji... startujemy za 3...2...1....

<h1> ŚPISZ.... </h1>

<h2>bla bla bla.... jesteśmy zajebiści! :D</h2>
<br>
<h3>Stronę wykonali: </h3>


</body>
