img{
  width: 800px;
  height: 600px;
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
  /*resize: both;*/
  border-radius: 33px;
 }
blockquote {
  text-align: justify;
  padding-top: 10px;
}
p {
  font-weight: bold;
  font-size: 32px;
  color: #dddddd;

}

