<!DOCTYPE html>

<html lang="pl">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ranking piłkarski</title>
  <meta name="description" content="Ranking piłkarski">
  <meta name="keywords" content="ranking, piłka nożna">
  <meta name="author" content="Karol Jaros">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">



  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

</head>

<body>

<div>
  <br><br>
  <p>Camp Nou</p>
 <img alt="Camp Nou" src="https://cdn1-production-images-kly.akamaized.net/_x2mNUx48InGyUW4R5TAgkLH81g=/1280x720/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2296073/original/086346000_1532979383-Nou_Camp_Nou.jpg"><br><br>

  Stadion piłkarski w Barcelonie w Hiszpanii<br>
  Data otwarcia: 24 września 1957<br>
  Liczba miejsc: 99 354<br>
  <blockquote>
  Jest największym piłkarskim stadionem w Europie i jednym z największych na świecie.
  UEFA sklasyfikowała stadion na 5 gwiazdek, jako że arena spełnia najwyższe standardy konstrukcyjne.
  Na jej trybunach widoczna jest dewiza przyświecająca klubowi, czyli Més que un club.
    Na stadionie rozgrywane są mecze reprezentacji Katalonii w piłce nożnej, a niegdyś rozgrywane były także mecze reprezentacji Hiszpanii.
  </blockquote>
<br><br>
  <p>Alianz Arena</p>
  <img alt="Alianz Arena"  src="https://i.pinimg.com/originals/04/d7/52/04d7526db80edddeb3c10d65cf9f9033.jpg"><br><br>
  <b>Alianz Arena</b><br>
  Największy stadion w Niemczech<br>
  Data otwarcia: 30 maja 2015<br>
  Liczba miejsc: 75 343<br>
  <blockquote>
  Obecnie jest to jeden z najnowocześniejszych stadionów piłkarskich na świecie. Nazwa stadionu pochodzi od jednego z jego sponsorów – niemieckiej firmy ubezpieczeniowej Allianz.
  Podczas rozgrywek Ligi Mistrzów, z powodu przepisu UEFA mówiącego, iż w nazwie stadionu nie może być nazwy sponsora, stadion przyjmuje nazwę Arena München.
  </blockquote>
  <br><br>
  <p>Studio Giuseppe Maezza</p>
 <img alt="Studio Giuseppe Maezza"  src="https://i.pinimg.com/originals/e2/68/f1/e268f19340244f33a2d9dbfa77482f27.jpg"> <br><br>
  Stadio Giuseppe Meazza "San Siro"<br>
  Stadionw Italii <br>
  Data otwarcia: 19 września 1926<br>
  Liczba miejsc: 80 018<br>
  <blockquote>
  Budowa stadionu została rozpoczęta w 1925 w mediolańskiej dzielnicy San Siro, stąd też jego nazwa. Pomysł jego budowy był dziełem ówczesnego prezydenta Milanu, Piero Pirellego.
  Stadion został zaprojektowany z myślą wyłącznie o piłce nożnej – nie ma bieżni lekkoatletycznej. Inauguracja odbyła się 19 września 1926.
  Wówczas 35 000 widzów obejrzało zwycięstwo Interu nad Milanem 6:3. Przez pierwsze lata stadion był własnością Milanu i tylko Milan rozgrywał na nim swoje domowe mecze.
  W 1935 obiekt został kupiony przez miasto, co pozwoliło na jego renowację. W 1947 zdecydowano, że mecze na San Siro będą rozgrywać zarówno Milan, jak i Inter.
  </blockquote>

</div>
</body>



