body
{
	background-color: #868686;
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #c0d06f;
	margin: 20px;
}

.jumpers
{
	text-align: center;
}

.jumpers img
{
	width: 90%;
	height: auto;
}

.jumpers p
{
	margin-bottom: 30px;
}

.jumpers figcaption
{
	margin-top: 8px;
}

.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}

.navbar
{
	min-height: 57px;
}

.bg-jumpers
{
  background-image: url("assets/img/navbar.PNG");
  background-size: cover;


}

.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, .th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #676565;
}



