<!DOCTYPE html>

<html lang="pl">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ranking piłkarski</title>
  <meta name="description" content="Ranking piłkarski">
  <meta name="keywords" content="ranking, piłka nożna">
  <meta name="author" content="Karol Jaros">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

</head>

<body>

<header>
  <form (ngSubmit)="onSubmit()" #clubForm="ngForm">
    <div class="form-group">
      <label for="name">Nazwa Klubu</label>
      <input type="text" [(ngModel)]="club.name"
             class="form-control"
             id="name"
             name="name"
             placeholder="Wpisz nazwe klubu"
             required #name="ngModel">
    </div>
    <div [hidden]="!name.pristine" class="alert alert-danger">Nazwa jest wymagana</div>

    <div class="form-group">
      <label for="points">Punkty</label>
      <input type="text" [(ngModel)]="club.points"
             class="form-control"
             id="points"
             name="points"
             placeholder="Wpisz liczbę punktów"
             required #points="ngModel">
    </div>
    <div [hidden]="!points.pristine" class="alert alert-danger">Punkty są wymagane</div>

    <div class="form-group">
      <label for="country">Kraj</label>
      <input type="text" [(ngModel)]="club.country"
             class="form-control"
             id="country"
             name="country"
             placeholder="Wpisz kraj"
             required #country="ngModel">
    </div>
      <div [hidden]="!country.pristine" class="alert alert-danger">Kraj jest wymagany</div>

    <button type="submit" [disabled]="!clubForm.form.valid"
            class="btn btn-info">Wyślij</button>
  </form>

</header>

<main>

  <section class="jumpers">

    <div class="container">

      <header>

        <h1>RANKING UEFA</h1>


      </header>

      <div class="row">

        <div class="col-sm-6 col-md-5 offset-md-1">

          <figure>
            <a href="#"><img src="assets/img/Laliga.png" alt="LaLiga"></a>
            <figcaption>LaLiga</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-5">

          <figure>
            <a href="#"><img src="assets/img/Premiere.png" alt="Premier League"></a>
            <figcaption>Premier League</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/img/bundesliga.jpg" alt="Bundesliga"></a>
            <figcaption>Bundesliga</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/img/ekstraklasa.png" alt="Ekstraklasa"></a>
            <figcaption>Ekstraklasa</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/img/SerieA.png" alt="Serie A"></a>
            <figcaption>Serie A</figcaption>
          </figure>

        </div>


      </div>

    </div>

  </section>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="js/bootstrap.min.js"></script>

<script>

  $(document).ready(function () {
    $('.dropdown').on('click', function (e) {
      var $el = $(this);
      var $parent = $(this).offsetParent(".dropdown-menu");
      if (!$(this).next().hasClass('show')) {
        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
      }
      var $subMenu = $(this).next(".dropdown-menu");
      $subMenu.toggleClass('show');

      $(this).parent("li").toggleClass('show');

      $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
        $('.dropdown-menu .show').removeClass("show");
      });

      if (!$parent.parent().hasClass('navbar-nav')) {
        $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
      }

      return false;
    });
  });

</script>


</body>
</html>


